.assignment-container {
    height: 700px;
}

.all-assignments {
    height: 700px;
    overflow: auto;
}

#submissions {
	height: 550px;
	overflow: auto;
}

.height-700 {
    height: 700px;
}

.margin-top-46 {
	margin-top: 46px;
}

.no-assignment-selected {
	height: 700px;
	line-height: 600px;
}

.no-assignment-selected h4 {
	vertical-align: middle;
    display: inline-block;
}

.borderSolidBlack {
	border: 1px solid black;
}

.submission-profile-img {
    height: auto; 
    width: auto; 
    max-height: 75px;
    border-radius: 5px;
}

.margin-top-15 {
	margin-top: 15px;
}

.details {
	background-color: #D3D3D3;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

@media (max-width: 992px){
	.all-assignments {
    	height: 275px;
   		overflow: auto;
	}

	.assignment-container {
    	height: 300px;
	}
}