.assignment-container {
    height: 700px;
}

.all-assignments {
    height: 700px;
    overflow: auto;
}

.height-700 {
    height: 700px;
}

.selected-assignment {
	margin-top: 46px;
	height: 700px;
	line-height: 600px;
}

.selected-assignment h4 {
	vertical-align: middle;
    display: inline-block;
}

.borderSolidBlack {
	border: 1px solid black;
}