<div class="assignment-container">
    <div class="row">
        <div class="all-assignments col-md-4">
            <h3>Assignments</h3>
            <!-- replace list of assignments with directory -->
            <div class="list-group">
                <a ng-repeat="assignment in assignments" class="list-group-item" ng-href="#/assignments/{{assignment.id}}" ng-class="{active: isActive('/assignments/{{assignment.id}}')}">
                    <div ng-attr-id="{{assignment.id}}" class="text-center">
                        <h4 class="list-group-item-heading">{{assignment.title}}</h4>
                        <p class="list-group-item-text">Due Date: {{moment(assignment.due_at).format('M/D/YYYY')}}</p>
                    </div>
                </a>
            </div>
        </div>
        <div id="#selected-assignment" class="col-md-8 height-700 margin-top-46" ng-controller="SingleAssignmentCtrl" ng-class="{ borderSolidBlack: noAssignmentSelected('/assignments'), 'text-center': noAssignmentSelected('/assignments'), 'no-assignment-selected': noAssignmentSelected('/assignments') }">
            <div class="vcenter" ng-hide="isAssignmentSelected">
                <h4>{{message.error}}</h4>
            </div>
            <div ng-show="isAssignmentSelected">
                <ul class="nav nav-tabs">
                    <li ng-click="switchTabs('assignment')" ng-class="{active: showAssignment}"> <a ng-href="#/assignments/{{assignmentId}}">Assignment</a></li>
                    <li ng-click="switchTabs('submissions')" ng-class="{active: showSubmissions}"><a ng-href="#/assignments/{{assignmentId}}">Submissions</a></li>
                </ul>
                <br>
                <div ng-show="showAssignment">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{assignment[0].title}}
                                <div>
                                    <small>Due: {{moment(assignment[0].due_at).format('M/D/YYYY')}}</small>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <p><strong>Instructions:</strong> {{assignment[0].description}}</p>
                        </div>
                    </div>
                </div>
                <div ng-show="showSubmissions" ng-controller="SubmissionsCtrl">
                    <div id="submissions" class="list-group">
                        <div ng-repeat="submission in submissions" class="list-group-item padding-bottom-0">
                            <div ng-attr-id="{{submission.id}}">
                                <div class="row">
                                    <div class="col-md-2 text-center margin-bottom-10">
                                        <img class="submission-profile-img" ng-src="{{submission.creator.avatars.large}}">
                                    </div>
                                    <div class="col-md-6 margin-top-15">
                                        <h4 class="list-group-item-heading">{{submission.creator.first_name}} {{submission.creator.last_name}}</h4>
                                        <p><strong>Date Submitted:</strong> {{moment(submission.submitted_at).format('M/D/YYYY')}}</p>
                                    </div>
                                    <div class="col-md-3 col-md-offset-1 text-center margin-top-15">
                                        <button ng-click="showDetails = !showDetails;" type="button" class="btn btn-default">
                                            <span ng-show="!showDetails" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                            <span ng-hide="!showDetails" class="glyphicon glyphicon-chevron-up" aria-hiddent="true"></span>
                                        </button>
                                    </div>
                                    <div class="details col-md-12" ng-show="showDetails">
                                        <div class="text-left">
                                            {{submission.content}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>