<div class="assignment-container">
    <div class="row">
        <div class="all-assignments col-md-5">
            <a class="assignment" ng-repeat="assignment in assignments" ng-href="#/assignments/{{assignment.id}}">
                <div ng-attr-id="{{assignment.id}}">
                    <h3>{{assignment.title}}</h3>
                    <p>{{moment(assignment.due_at).format('MMMM Do YYYY, h:mm:ss a')}}</p>
                </div>
            </a>
        </div>
<!--         <div class="selected-assignment">
            <div class="col-md-7">
            	<div ng-controller="singleAssignmentCtrl">
            		{{Hello}}
            	</div>
            </div>
        </div> -->
    </div>
</div>